@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef2f3;
  background-image: linear-gradient(135deg, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 650px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.quiz-header {
  padding: 3rem 2rem;
  border-bottom: 2px solid #f4f4f4;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 0 0 10px 10px;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

ul li label {
  margin-left: 0.8rem;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

ul li label:hover {
  color: #8e44ad;
}

ul li input[type='radio'] {
  accent-color: #8e44ad; /* Change the color of the radio button */
  transform: scale(1.2); /* Slightly larger radio buttons */
  margin-right: 1rem;
}

button {
  background: #1e90ff;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 0 0 15px 15px;
}

button:hover {
  background: #1c86ee;
  transform: translateY(-3px);
}

button:focus {
  outline: none;
  background: #1a78db;
}

